
body {
	background-image: url(../images/loadpage.jpg);
	background-repeat: no-repeat; /*repeat-x, repeat-y*/
	background-attachment: fixed; /*scroll*/

	word-spacing: 35px;
}

td {
	padding: 25px;
}

h1 {
}

h2 {
	background-color: transparent
}

a {
	font-size: 20px;
	font-weight: bold;

	text-decoration: none;

	margin-left: auto;
	margin-right: auto;
}



a.GoBack {
	background-color: transparent; 

	position: fixed;
	top: 40px;
	left: 150px;
}


p {
	/* border: 1px solid black; */
	/* padding: 20px; */
	/* background-position: 150px 100px */
	/* background-color: rgb(250,0,255) */
	/* background-color: #00ff00 */
	/* padding: 10px; */
}


div {
}

div.pos0 {
	position: fixed;
	top: 80px;
	left: 25px;
}

div.pos1 {
	position: fixed;
	top: 120px;
	left: 25px; /* right: bottom: center: */
}

div.pos2 {
	position: fixed;
	top: 160px;
	left: 25px;
}

